
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import "node_modules/font-awesome/scss/font-awesome.scss";

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
/*
 * Login css
 */
 .login-form {
    padding:80px 40px;
    background:#fff;
}
.h-100vh {
    height:100vh;
}
.fw-300 {
    font-weight: 300;
} 
.c-grey-900 {
    color: #313435!important;
} 
.mB-40 {
    margin-bottom: 40px;
}
.ai-c {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.peers {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    height: auto;
    max-width: 100%;
    margin: 0;
    padding: 0;
}
.jc-sb {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.fxw-nw {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
body#login {
    font-family: Roboto,-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif;
    line-height: 1.5;
    font-size: 14px;
    color: #72777a;
    letter-spacing: .2px;
    overflow-x: hidden;
}
.checkbox input[type=checkbox] {
    opacity: 0;
    z-index: 1;
}
input[type=checkbox], input[type=radio] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
[role=button], a, area, button, input:not([type=range]), label, select, summary, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
.peer {
    display: block;
    height: auto;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 17px;
    margin-bottom: 0;
}
.peer-greed, .peers-greed>.peer, .peers-greed>.peers {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.checkbox.checkbox-circle label:before {
    border-radius: 50%;
}
.checkbox label:after, .checkbox label:before {
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: -12px;
}
.checkbox label:before {
    content: "";
    border: 1px solid #e6eaf0;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border .15s ease-in-out,color .15s ease-in-out;
    -o-transition: border .15s ease-in-out,color .15s ease-in-out;
    transition: border .15s ease-in-out,color .15s ease-in-out;
}
.checkbox-info input[type=checkbox]:checked+label:before {
    background-color: #0f9aee;
    border-color: #0f9aee;
}
.checkbox input[type=checkbox]:focus+label:before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.checkbox-info input[type=checkbox]:checked+label:after {
    color: #fff;
}
.checkbox input[type=checkbox]:checked+label:after {
    font-family: FontAwesome;
    content: "\F00C";
    font-size: 13px;
}
.checkbox label:after {
    text-align: center;
    font-size: 10px!important;
    line-height: 17px;
    color: #b9c2d0;
}
.image-login {
    background: #d2d8dc;
    background-image: url(./images/755723.jpg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: left;
    background-size: cover;
}
.pos-a {
    position: absolute!important;
}
.centerXY {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.bgc-white, .bgcH-white:hover {
    background-color: #fff!important;
}
.bdrs-50p {
    border-radius: 50%!important;
}
.pos-r {
    position: relative!important;
}
.un-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.cur-p {
    cursor: pointer;
}